optNoise.sln
optNoise/obj/x86/Release/optNoise.Properties.Resources.resources
optNoise/obj/x86/Release/optNoise.Form1.resources
optNoise/obj/x86/Debug/optNoise.csproj.FileListAbsolute.txt
optNoise/Form1.Designer.cs
optNoise/Form1.resx
optNoise/Program.cs
optNoise/Properties/AssemblyInfo.cs
optNoise/TBD.png
optNoise/Properties/Resources.Designer.cs
optNoise/Properties/Resources.resx
optNoise/Properties/Settings.Designer.cs
optNoise/Properties/Settings.settings
optNoise/bin/Debug/optNoise.vshost.exe.manifest
optNoise/obj/x86/Debug/optNoise.Form1.resources
optNoise/obj/x86/Debug/optNoise.Properties.Resources.resources
optNoise/obj/x86/Release/optNoise.csproj.FileListAbsolute.txt
optNoise/optNoise.csproj
